---
layout: default
baseurl: ''
title: Newsroom
description: ''
---

{% include latest-news-widget.html %}
{% include events.html %}
<div class="container">
  <div class="row">
    <div class="col positioning__heading-margin-bottom">
      <h3 class="typography__upcoming-events"><span class="events__bottom-underline">Social Media</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 featured-videos__right-border positioning__margin-bottom">
      {% include timeline.html %}
    </div>
    <div class="col-lg-6 positioning__margin-bottom">
      {% include facebook-script.html %}
      {% include facebook-widget.html %}
    </div>
  </div>
</div>
