<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light local-nav__custom-nav justify-content-center">
    <a class="navbar-brand d-flex" href="{{ site.baseurl }}">
      <img src="assets/img/kcc-logo.svg" class="links__kcc-logo">
      <h1 class="typography__news-room-main-heading">Newsroom</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link link__more-padding" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link__more-padding" href="{{ page.baseurl }}news/">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link__more-padding" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link__more-padding" href="#">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link__more-padding" href="#">Contact</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link link__more-padding btn btn-primary" href="#">Subscribe</a>
        </li>
      </ul>
    </div>
</nav>
<!--
<nav class="nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center d-flex">
        <a href="{{site.baseurl}}">
        <img src="assets/img/kcc-logo.svg" class="links__kcc-logo">
        <h1 class="typography__news-room-main-heading">Newsroom</h1></a>
      </div>
    </div>
  </div>
</nav>  -->
