.latest-news__cell-right {
  display: table-cell;
  vertical-align: top;
}

.latest-news__list {
  list-style-type: none;
  padding-left: 0;
}

.latest-news__description {
  background-color: $black;
  color: $white;
  padding: 20px;
}

.latest-news__image-container {
  width: 100%;
}

.latest-news__preview-image {
  position: absolute;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.latest-news__image {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

.latest-news__background-image {
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  visibility: hidden;
  width: 100%;
}

.latest-news__image-visible {
  visibility: visible;
}

.latest-news__visibility {
  visibility: hidden;
}

.latest-news__visibility-active {
  visibility: visible;
}
