.local-nav__custom-nav {
  padding-left: 40px;
  border-bottom-color: $black;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.local-nav__centered {
  margin-left: auto;
  margin-right: auto;
}

.local-nav__kcc-logo {
  width: 120px;
}

.local-nav .nav-link {
  margin-left: 10px;
  margin-right: 10px;
}
