// Positioning Styles
// ==========================================
.positioning__margin-bottom {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .positioning__margin-bottom {
    margin-bottom: 40px;
  }
}

.positioning__heading-margin-bottom {
  margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {
  .positioning__heading-margin-bottom {
    margin-bottom: 20px;
  }
}

.position__offset-fixed-nav {
  margin-top: 57px;
}

@media screen and (min-width:360px) {
  .position__offset-fixed-nav {
    margin-top: 58px;
  }
}

@media screen and (min-width:576px) {
  .position__offset-fixed-nav {
    margin-top: 81px;
  }
}

@media screen and (min-width:768px) {
  .position__offset-fixed-nav {
    margin-top: 92px;
  }
}
